@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li,
a,
button {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

strong {
    color: #000;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #202020bd;
    backdrop-filter: blur(6px);
    padding: 0px 80px 0px;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    box-shadow: 0px 0px 10px black;
}

.logo-img {
    width: 16%;
    cursor: pointer;
}

nav {
    margin-right: auto;
    display: contents;
}

.menu-icons {
    color: #F8EEB4;
    font-size: 18px;
    display: none;
}

.menu-icons:hover {
    color: #f7ce3e;
    transition: 0.5s;
}

.sidebar {
    display: none;
    position: fixed;
    list-style-type: none;
    top: 0;
    right: 0;
    height: 450px;
    width: 300px;
    z-index: 999;
    background-color: #181818eb;
    backdrop-filter: blur(6px);
    box-shadow: -5px 0 10px #0b1000ad;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
}

i.fa.fa-arrow-left {
    color: white;
    font-size: 18px;
    padding: 30px 0px;
}

.sidebar-links-a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 16px 20px;
    transition: all 0.1s ease-in-out;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.nav_links {
    list-style: none;
    margin-bottom: 0px;
    transition: 0.5s;
}

.nav_links li {
    display: inline-block;
    margin-left: 5px;
}

.nav_links li a {
    color: #d1d1d1;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 20px;
    transition: all 0.1s ease-in-out;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.links-a:hover {
    color: #f7ce3e;
    transform: translateY(-5px);
    transition: 0.5s;
}

.menu-toggle {
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: none;
}

.nav_links li.disable_logo {
    display: none;
}

/*** particles js style *****/
#particles-js {
    height: 100%;
    background: #000;
    background-size: cover;
}

#home {
    height: 750px;
}


/******* Typing Animation ******/
.main-content h1 {
    color: #fff;
    position: absolute;
    top: 35%;
    left: 35%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    font-size: 4.5rem;
    padding-bottom: 20px;
    text-align: center;
}


.main-content span {
    color: #f7ce3e;

    /* color: #ff1f5d; */
}

.main-content h2 {
    position: absolute;
    top: 55%;
    left: 36%;
    /* transform: translate(-50%,-50%); */
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    color: transparent;
    font-size: 2.5rem;
    text-align: center;
}

.main-content h2:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
    border-right: 1px solid #000;
    animation: type 6s steps(35) infinite;
    white-space: nowrap;
}

@keyframes type {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.main-content h3 {
    color: #fff;
    position: absolute;
    top: 75%;
    left: 50%;
    font-family: 'Roboto Mono', monospace;
    transform: translate(-36%, -45%);
    letter-spacing: 2px;
    padding: 45px;
    font-size: 16.5px;
    text-align: center;
    color: #f7ce3e;
    line-height: 35px;
}

img.intro-avatar {
    height: 380px;
    position: absolute;
    left: 220px;
    top: 30%;
}

@keyframes animate {
    0% {
        border-color: #fff;
        transform: translate(0, 0);
    }

    20% {
        border-color: #fff;
        transform: translate(15px, 15px);
    }

    20%,
    100% {
        border-color: #222;
    }
}

.clear-fix {
    width: 100%;
    height: 25px;
    background: #ffff;
}

.clear-hr {
    width: 20px;
    ;
    height: 100vh;
}

section#home {
    margin-top: -88px;
}

/******** About Us ***********/

section#about {
    background: #ffff;
    border-bottom: solid 5px #a3a3a338;
}

.abt-content {
    margin: 0px 35px 50px 35px;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abt-content .left-content {
    padding: 0px 50px;
    /* padding: 50px 50px;
            border-radius: 52% 21% 49% 10% / 41% 30% 27% 36%;
            background: #fdcd2f;*/
}

.abt-content h2 {
    /*color: #f7ce3e;*/
    color: #000;
    font-size: 3rem;
    /* text-shadow: 5px 2px #d4c8a07a;*/
    /* #ecc02dd9 */
    text-shadow: 4px 2px #fdcd2fc7;
    padding-bottom: 20px;
    letter-spacing: 4px;
}

.about h4 {
    color: #3e3c3c;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 50px 0px 0px 85px;
}


.abt-content .left-content p {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #565656;
    text-align: justify;
    background: #ffff;
    line-height: 32px;
}

.left-content button {
    padding: 10px 20px;
    font-size: 14px;
    color: #000;
    /*background-image: linear-gradient(to right, #ffc403 , #151414c7);*/
    background: #f7ce3e;
    box-shadow: 0 5px 10px 0 rgba(14, 6, 6, 0.24), 0 18px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: 1px solid #f7ce3e;
    margin-top: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
}

.mbl-abt-img {
    display: none;
}

/********* Skills section ********/
.skills {
    /* margin: 0px 35px; */
    background: #ffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 50px;
    border-bottom: solid 5px #a3a3a338;

}

.skills-h5 {
    font-size: 32px;
    color: #3e3c3c;
    padding: 30px 0px;
    font-weight: 600;
}

.skills-container {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 100px;
    text-align: center;
    background: #eeeeee !important;
    border: none !important;
    box-shadow: 5px 5px 10px 0px #959595;
}

img.skills-icon {
    height: 80px;
    width: 80px;
    margin-left: 10px;
}

h4.skill-name {
    font-size: 14px;
    color: grey;
}

/********* Portfolio section ********/
#portfolio {
    background: #000020;
    width: 100%;
    padding-top: 10px;
    margin-top: 5px;
    border-top: 5px solid #ebebeb;
}


#portfolio h2 {
    color: #fff;
    font-size: 3rem;
    text-shadow: 5px 2px #2f2f2e;
    letter-spacing: 3px;
    text-align: center;
    margin: 20px 0px 50px 0px;
}

.portfolio-content {
    margin: 0px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 80px;
}

.portfolio-items {
    position: relative;
    width: 350px;
    height: 200px;
    margin: 20px;
    display: inline-block;
    cursor: pointer;
    transition: .5s ease;
    backface-visibility: hidden;
    z-index: 1;

}

.arrw {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transform: rotate(45deg);
    font-size: 4rem;
    font-weight: 800;
    color: #f7ce3e;
}

.portfolio-items:hover {
    opacity: 0.8;
}

.portfolio-items:hover .arrw {
    opacity: 1;
}

.portfolio-items .portfolio-img {
    position: relative;
}

.portfolio-items img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

/*** portfolio modal *****/
.portfolio-modal {
    display: none;
    z-index: 1;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.portfolio-modal1 {
    display: none;
    z-index: 1;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.portfolio-modal2 {
    display: none;
    z-index: 1;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.all-modal-content {
    margin: 50px;
    width: 98%;
    height: 98%;
    overflow: auto;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.modal-header {
    width: 100%;
    height: 50px;
    background: #f7cf3e9a;
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.model-content {
    width: 100%;
    height: auto;
    background: #ffffff85;
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.portfolio-modal-img {
    margin: 25px;
}

.portfolio-modal-img img {
    max-width: 350px;
    height: auto;
}

.portfolio-modal-content {
    margin: 50px;
}

.portfolio-modal-content h3 {
    color: #000;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: 800;
    text-align: center;
    line-height: 30px;
}

.portfolio-modal-content h3:after {
    content: '';
    width: 35%;
    border-bottom: 2px dashed #fbc404;
    display: block;
    margin: 0px auto;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.portfolio-modal-content p {
    font-size: 18px;
    font-weight: 500;
    color: #565656;
    margin-bottom: 20px;
    text-align: justify;
}

.portfolio-modal-content .p-cat {
    font-size: 16px;
    font-weight: 800;
    color: #000;
    line-height: 25px;
}

.portfolio-modal-content .btn-web {
    padding: 10px 20px;
    font-size: 14px;
    color: #000;
    /*background-image: linear-gradient(to right, #ffc403 , #151414c7);*/
    background: #f7ce3e;
    box-shadow: 0 5px 10px 0 rgba(14, 6, 6, 0.24), 0 18px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: 1px solid #f7ce3e;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
}

.close {
    color: #000;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 30px;
}

/***** background canva css porfolio *****/
.portfolio-content .particles-js-canvas-el {
    position: absolute;
}

/******* Footer Section ******/
.footer-content {
    width: 100%;
    height: 62vh;
}

.ani-text {
    font-size: 4rem;
    color: #000;
    text-shadow: 5px 2px #fdcd2fc7;
    display: block;
    text-align: center;
    margin: 120px 0px 0px 0px;
    letter-spacing: 5px;
}

.ani-txt {
    font-size: 2.5rem;
    color: #000;
    text-shadow: 5px 2px #fdcd2fc7;
    display: block;
    text-align: center;
    margin: 10px 0px;
    letter-spacing: 5px;
}

.social_ico {
    display: block;
}

.social_ico ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    flex-wrap: wrap;
}

.social_ico li {
    padding: 5px 20px;
    margin-left: 5px;
    list-style: none;
}

.social_ico li a {
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.social_ico .fab {
    font-size: 30px;
    color: #000;
    cursor: pointer;
}

.social_ico .fas {
    font-size: 30px;
    color: #000;
    cursor: pointer;
}

.scroll-efft {
    width: 100%;
    background-image: linear-gradient(white, #f7ce3e);
    overflow-x: hidden;
}

.scroll-efft .wrap {
    background: url("../img/skyline-1.png") repeat-x;
    background-position-y: -150px;
    height: 170px;
    width: 5076px;
    animation: slide 60s linear infinite;

}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}

.copywrite-bar {
    background: #000;
    color: #f7ce3e;
    padding: 50px 0px 25px;
    font-size: 14px;
    margin: 0 auto;
}

.row-flex {
    display: flex;
    background: #000;
    color: #f7ce3e;
    padding: 50px 0px 25px;
    font-size: 14px;
    text-align: center;
    justify-content: space-around;
}

.arr-btn {
    /* display: flex;
        justify-content: center;*/
    padding: 38px 0px 0px;
    margin-right: 50px;
}

.arr-btn button {
    background: #f7ce3e;
    padding: 5px 10px;
    border: 2px solid #f7ce3e;
    border-radius: 2px;
    cursor: pointer;
}

.my-arr {
    margin: 0 auto;
    color: #000;
    font-size: 22px;
}




/******************************** Media Query all mobile phones *************************************/

@media screen and (max-width:600px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    .logo-img {
        width: 130px;
        margin-left: 50px;
    }

    .nav_links {
        display: none;
    }

    .menu-icons {
        display: block;
        font-size: 24px;
        margin-right: 50px;
    }

    /********* Typing animation *********/
    .main-content h1 {
        font-size: 22px;
        position: absolute;
        top: 150px;
        transform: translate(-50px, 50px);
    }

    .main-content h2 {
        transform: translate(-50px, 50px);
        position: absolute;
        top: 210px;
        font-size: 14px;
    }

    .main-content h3 {
        display: none;
    }

    img.intro-avatar {
        height: 210px;
        position: absolute;
        right: 40px;
        top: 2;
        top: 330px;
    }

    /****** about me section ****/
    .abt-content {
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 35px 50px 35px;
    }

    .mbl-abt-img {
        display: inline-block;
        height: 250px;
        position: relative;
        top: 10px;
        left: 35px;
        margin-bottom: -200px;
    }

    .abt-content .left-content {
        padding: 0px 0px;
    }

    .about .right-content {
        display: none !important;
    }

    .about h4 {
        text-align: left;
        letter-spacing: 3px;
        padding: 50px 0px 0px 35px;
    }

    .abt-des {
        margin-top: 230px;
    }

    .clear-hr {
        display: none;
    }

    .clear-fix {
        height: 50px;
    }

    .abt-content h2 {
        font-size: 2rem;
        align-items: center;
    }



    /********* Skills section *******/
    .skills {
        width: 100%;
        justify-content: space-evenly;
    }

    .skills-img {
        height: 300px;
        position: relative;
        top: 26px;
    }

    .skills-icon {
        height: 70px !important;
        width: 70px !important;
    }

    .skill-name {
        font-size: 12px;
    }

    .skills-h5 {
        margin-left: -20px;
    }

    .card {
        width: 90px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .skills-container {
        justify-content: space-evenly;
        width: 230px;
    }

    /********* Porfolio Modal *******/
    .portfolio-items {
        width: 200px;
        height: 200px;
        margin-top: 0;
    }

    .portfolio-content {
        height: unset;
    }

    #portfolio h2 {
        font-size: 2rem;
        margin: 20px 0px;
    }

    .model-content {
        flex-direction: column;
    }

    .portfolio-modal-content h3 {
        font-size: 18px;
        line-height: 25px;
    }

    .portfolio-modal-content {
        margin: 0px;
    }

    .portfolio-modal-content p {
        font-size: 14px;
    }

    .portfolio-modal-content .p-cat {
        font-size: 14px;
    }

    .modal-header {
        height: 35px;
    }

    .close {
        font-size: 35px;
    }

    .portfolio-modal-img img {
        max-width: 200px;
    }

    .portfolio-modal-content h3:after {
        height: 15px;
    }

    .arrw {
        font-size: 2rem;
    }

    .ani-text {
        font-size: 2rem;
        margin: 90px 20px 0px;
    }

    .ani-txt {
        font-size: 1.8rem;
        margin: 10px 10px;
    }

    .social_ico ul {
        width: 100%;
        padding-left: 0px !important;
    }

    .social_ico li {
        padding: 0px;
        margin: 0px 20px 0px;
    }


}



/****************************************** smallest screen ********************************************/

@media screen and (max-width:360px) and (max-width:400px) {

    .portfolio-content {
        flex-direction: unset;
        justify-content: center;
    }

    .portfolio-items {
        margin-top: 0;
    }

}

/****************************************** ipad & Notepad ********************************************/

@media screen and (min-width:600px) and (max-width:992px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    .logo-img {
        width: 130px;
        margin-left: 50px;
    }

    .nav_links {
        display: none;
    }

    .menu-icons {
        display: block;
        font-size: 24px;
        margin-right: 50px;
    }


    /********* Typing animation *********/

    .main-content h1 {
        color: #fff;
        font-size: 2rem;
        top: 260px;
    }

    .main-content h2 {
        top: 362px;
        left: 273px;
    }

    .main-content h3 {
        display: none;
    }

    .intro-avatar {
        height: 300px !important;
        top: 220px !important;
        left: 30px !important;
    }


    /****** about me section ****/
    .abt-content {
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 35px 50px 35px;
    }

    .mbl-abt-img {
        display: inline-block;
        height: 250px;
        position: relative;
        top: 10px;
        left: 25%;
        margin-bottom: -200px;
    }

    .about .right-content {
        display: none !important;
    }

    .abt-des {
        margin-top: 230px;
    }

    .clear-hr {
        display: none;
    }

    .clear-fix {
        height: 50px;
    }

    .abt-content h2 {
        font-size: 2rem;
        align-items: center;
    }

    /********* Skills section *******/
    .skills {
        width: 100%;
        justify-content: space-evenly;
    }

    .skills-img {
        height: 300px;
        position: relative;
        top: 26px;
    }

    .skills-icon {
        height: 70px !important;
        width: 70px !important;
    }

    .skill-name {
        font-size: 12px;
    }

    .card {
        width: 90px;
        margin-right: 10px;
    }

    .skills-container {
        justify-content: space-evenly;
        width: 400px;
    }

    /********* Porfolio Modal *******/
    /* .portfolio-items {
        width: 200px;
        height: 200px;
    } */

    #portfolio h2 {
        font-size: 2rem;
        margin: 20px 0px;
    }

    .model-content {
        flex-direction: column;
    }

    .portfolio-modal-content h3 {
        font-size: 18px;
        line-height: 25px;
    }

    .portfolio-modal-content {
        margin: 0px;
    }

    .portfolio-modal-content p {
        font-size: 14px;
    }

    .portfolio-modal-content .p-cat {
        font-size: 14px;
    }

    .modal-header {
        height: 35px;
    }

    .close {
        font-size: 35px;
    }

    .portfolio-modal-img img {
        max-width: 200px;
    }

    .portfolio-modal-content h3:after {
        height: 15px;
    }

    .arrw {
        font-size: 2rem;
    }

    .portfolio-items img {
        height: auto;
    }

}


/************************************** large device ***************************************/

@media screen and (min-width:992px) and (max-width:1200px) {
    nav {
        margin-left: auto;
    }

    .intro-avatar {
        transform: translate(-100px, -200px);
    }

    .main-content h3 {
        top: 450px;
        left: 530px;
        text-align: justify;
    }

    /********* Typing animation *********/
    .main-content h1 {
        color: #fff;
        font-size: 2rem;
        top: 200px;
        transform: translate(50px, 50px);
    }

    .main-content h2 {
        top: 270px;
        left: 355px;
        transform: translate(50px, 50px);
        font-size: 2rem;
    }

    .indicator span {
        display: none;
    }

    /****** about me section ****/
    .abt-content {
        flex-direction: row;
        align-items: center;
    }

    .abt-content .left-content p {
        line-height: 24px;
    }

    .clear-fix {
        height: 100px;
    }

    .clear-hr {
        display: none;
    }

    /********* Porfolio Modal *******/
    .portfolio-items {
        width: 270px;
        height: 200px;
    }

    .portfolio-content {
        justify-content: space-evenly;
    }

    #portfolio h2 {
        font-size: 2rem;
        margin: 20px 0px;
    }

    .portfolio-modal-content h3 {
        font-size: 18px;
        line-height: 25px;
    }

    .portfolio-modal-content {
        margin: 0px;
    }

    .portfolio-modal-content p {
        font-size: 14px;
    }

    .portfolio-modal-content .p-cat {
        font-size: 14px;
    }

    .modal-header {
        height: 35px;
    }

    .close {
        font-size: 35px;
    }

    .portfolio-modal-img img {
        max-width: 200px;
    }

    .portfolio-modal-content h3:after {
        height: 15px;
    }

    .arrw {
        font-size: 2.5rem;
        position: absolute;
    }

    .footer-content {
        height: unset;
    }


}
